.body {
  background-color: #ffdeaff2;
}

.menu {
  background-color: #333333c6;
  background-image: linear-gradient(#333333, #33333300);
  position: fixed;
  width: 100%;
}

.menu a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  box-shadow: inset 0 -5px 0 0 rgb(255, 255, 255);
}

.banner {
  width: 100%;
  height: 500px;
  max-height: 500px;
  background: url(../src/img/ban1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
  border-radius: 10px;
}

.banner img {
  max-width: 100%;
  max-height: 250px;
  width: auto;
  height: auto;
}

.banner p {
  color: white;
  font-size: 78px;
  background-color: rgba(0, 0, 0, 0.641);
  padding: 20px;
  font-family: "Trattatello", fantasy;
  text-align: center;
}

.promocao {
  display: flex;
  justify-content: space-between;
}

.promocao-card {
  width: 31%;
  border-radius: 10px;
  background-color: white;

  box-shadow: 0px 3px 5px rgb(194, 194, 194);
}

.promocao-link {
  text-decoration: none;
  color:black;
}

.promocao img {
  width: 100%;
  max-height: 454px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 3px 5px rgb(194, 194, 194);
}

.texto-card {
  word-wrap: break-word;
  margin: 20px;
}

.texto-card h2 {
  border-bottom: #afafaf34 solid 1px;
}

.texto-card-valores {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.link-cardapio {
  margin-top: 15px;
  padding-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-top: #afafaf34 solid 1px;
  border-bottom: #afafaf34 solid 1px;
  display: flex;
  justify-content: space-between;
}

.link-cardapio button {
  border: solid 1px rgb(150, 150, 150);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 15px;
  background-color: white;
}

.link-cardapio button:hover {
  background-color: rgba(209, 209, 209, 0.562);
  color: rgb(0, 0, 0);
}

.contato {
  width: 100%;
  height: 300px;
  border-top: #afafaf34 solid 1px;
  margin-top: 15px;
}

.contato div {
  vertical-align: middle;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.contato div p img {
  vertical-align: middle;
}

.contato div p a {
  text-decoration: none;
  color: black;
}

.form {
  display: grid;
  justify-content: center;
  border-top: #afafaf34 solid 1px;
}

.form div {
  display: flex;
  align-content: center;
}

.form button {
  border: solid 1px rgb(150, 150, 150);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
  margin-left: 5px;
}

.form button:hover {
  background-color: rgba(209, 209, 209, 0.562);
  color: rgb(0, 0, 0);
}

.form input {
  border: solid 1px rgb(150, 150, 150);
  border-radius: 10px;
  color: rgb(0, 0, 0);
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
}
